@font-face {
    font-family: "Gilmer";
    src: url("/fonts/Gilmer/GilmerHeavy.eot");
    src: url("/fonts/Gilmer/GilmerHeavy.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerHeavy.woff2") format("woff2"), url("/fonts/Gilmer/GilmerHeavy.woff") format("woff"), url("/fonts/Gilmer/GilmerHeavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("/fonts/Gilmer/GilmerBold.eot");
    src: url("/fonts/Gilmer/GilmerBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerBold.woff2") format("woff2"), url("/fonts/Gilmer/GilmerBold.woff") format("woff"), url("/fonts/Gilmer/GilmerBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("/fonts/Gilmer/GilmerLight.eot");
    src: url("/fonts/Gilmer/GilmerLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerLight.woff2") format("woff2"), url("/fonts/Gilmer/GilmerLight.woff") format("woff"), url("/fonts/Gilmer/GilmerLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("/fonts/Gilmer/GilmerMedium.eot");
    src: url("/fonts/Gilmer/GilmerMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerMedium.woff2") format("woff2"), url("/fonts/Gilmer/GilmerMedium.woff") format("woff"), url("/fonts/Gilmer/GilmerMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer Outline";
    src: url("/fonts/Gilmer/GilmerOutline.eot");
    src: url("/fonts/Gilmer/GilmerOutline.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerOutline.woff2") format("woff2"), url("/fonts/Gilmer/GilmerOutline.woff") format("woff"), url("/fonts/Gilmer/GilmerOutline.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("/fonts/Gilmer/GilmerRegular.eot");
    src: url("/fonts/Gilmer/GilmerRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilmer/GilmerRegular.woff2") format("woff2"), url("/fonts/Gilmer/GilmerRegular.woff") format("woff"), url("/fonts/Gilmer/GilmerRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header-fixed .wrap-menu-header {
    position: fixed;
    height: 100px;
    /* background: #f0eff2; */
    background: transparent;
    border-color: rgba(21, 10, 34, 0.1);
    border-bottom: 1px solid rgba(21, 10, 34, 0.1);
}

.header-fixed .wrap-menu-header.slide {
    background: rgba(240, 239, 242, 0.8);
    backdrop-filter: blur(10px);
}

.header-fixed .social a {
    color: #222
}

.header-fixed .btn-show-sidebar {
    border-top: 2px solid #222;
    border-bottom: 2px solid #222
}

.header-fixed-height {
    height: 90px
}

.header-fixed-height-large {
    height: 130px
}

.header-fixed-height-large .fables-transparent {
    top: 40px
}


@media (max-width: 768px) {
    .header-fixed-height-large .fables-transparent {
        top: 0
    }

    .header-fixed .wrap-menu-header {
        height: 85px;
    }

    .header-fixed-height,
    .header-fixed-height-large,
    .index-traingle {
        height: auto
    }
}

.wrap-menu-header {
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 100
}

.gradient1 {
    background: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0))
}

.trans-0-3 {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.trans-0-4 {
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.header_container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
    margin-right: auto;
    margin-left: auto
}

.header-iletisim {
    display: none !important;
}

@media (min-width:576px) {
    .header_container {
        max-width: 540px
    }

    .header-iletisim {
        display: block;
    }

    .header-iletisim>a {
        font-weight: 600;
        position: relative;
        color: #000;
        font-size: 18px
    }

    .sidebar {
        width: 300px
    }

    .language-selector {
        display: inline-block;
        font-weight: 500;
        margin-right: -20px
    }
}

@media (min-width:768px) {
    .header_container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .header_container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .header_container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .header_container {
        max-width: 1320px
    }
}

.h-full,
.sizefull,
.wrap-pic-h img {
    height: 100%
}

.max-h-full,
.wrap-pic-max-h img {
    max-height: 100%
}

.min-h-full {
    min-height: 100%
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu,
.wrap_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox
}

.wrap_header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
    align-items: center
}

@media (max-width:992px) {
    .wrap_menu {
        display: none
    }

    .wrap_header {
        height: 100px
    }
}

@media (max-width:576px) {
    .wrap_header {
        height: 80px
    }
}

.logo {
    height: 50px
}

.logo>a,
.menu,
.wrap_menu {
    height: 100%
}

.logo>a {
    display: block
}

.logo>a>img {
    width: auto;
    max-height: 100%;
    vertical-align: middle;
    background: 0 0
}

.main_menu>li>a,
a:focus,
a:hover {
    text-decoration: none
}

.main_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: center
}

.main_menu li {
    display: block;
    position: relative
}

.main_menu>li {
    padding-left: 30px
}

.main_menu>li>a {
    position: relative;
    color: rgba(21, 10, 34, 0.6);
    font-size: 14.4px;
    font-weight: 700;
    margin-left: 10px;
    transition: .3s;
    font-family: 'Gilmer', sans-serif;
    text-transform: uppercase;
}

.header-fixed .social a {
    color: #222
}

.main_menu>li:hover>a {
    padding-bottom: 3px;
    box-shadow: inset 0 -2px 0 0 #f60;
    transition: .3s;
    border-radius: 10px
}

@media (max-width: 361px) {
    .header-iletisim {
        margin-left: -10px
    }
}

@media (max-width:1200px) {
    .main_menu>li {
        margin-left: -15px;
        margin-right: 0
    }

    .logo {
        height: 45px;
        margin-left: -10px;
        margin-right: -10px
    }

    .p-l-0-xl {
        padding-left: 0
    }
}